# Environment
.env

# Composer
vendor/
composer.lock

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
/logs/

# Uploaded files
public/img/uploads/
